<%= stylesheet_link_tag 'map', media: 'all', 'data-turbolinks-track' => true %>

<div class="container-fluid">
  
  <nav class="navbar navbar-default navbar-fixed-top mynav">
    <div class="container">
      <ul>
      <div class="floatleft"><li id="nohover"><a href="/"><%= image_tag("header_icon.png") %></a></li></div>
      <div class="floatright"><li>Logged in as <i><%= @found_user.username %></i></li>
      <li>Favorites</li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Sign Out", logout_path, method: :delete %></li></div>
      </ul>
    </div>
  </nav>




<div id="info-box">?</div>

  <div class="row addyForm">
    <div class="col-lg-12">
      <%= form_tag search_path, method: "get", id:"search-input", class:"controls" do %>
        <%= label_tag(:city, "City: ") %>
        <%= text_field_tag(:city) %>
        <%= label_tag(:state, "State: ") %>
        <%= text_field_tag(:state) %>
        <%= label_tag(:neighborhood, "Neighborhood: ") %>
        <%= text_field_tag(:neighborhood) %>
        <%= submit_tag("Search") %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div id="map-canvas"></div>
      <p>&nbsp;</p>
      <p class="text-left">
        ------------------- Neighborhood list can go here ----------------------
      <ol id="hoods"></ol>
      </p>
      <p class="text-left">
        ------------------- Comments can go here ------------------------------
      </p>
    </div>
    <div class="col-lg-6">

  <br />
  
  <p class="text-center"><h5>---------------------- name of Neighborhood can go here ----------------------</h5></p>

  <div class="text-left" id="city-summary"></div>
  <div class="text-left" id="people"></div>
  <div class="text-left" id="characteristics"></div>
  <div class="text-left" id="ages"></div>
  <div class="text-left" id="kids"></div>
  <div class="text-left" id="relationships"></div>
  <div class="text-left" id="charts"></div>
  <div class="text-left" id="weather"></div>

    </div>
  
  </div>



</div>




