<!DOCTYPE html>
<html>
<head>
  <title>Goodhoods</title>
  <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/cosmo/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>


  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDE6F79FbnrSc9hZlurECTyBJoEyHCj-Nc"></script>
<!-- &sensor=true -->

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 30px; padding: 0;}
</style>





</head>
<body class = "container text-center">

<% flash.each do |key, value| %>
  <% if key == "notice" %>
    <%= content_tag :div, value, class: "text-center alert alert-warning" %>
  <% elsif key == "alert" %>
    <%= content_tag :div, value, class: "text-center alert alert-danger" %>
  <% else %>
    <%= content_tag :div, value, class: "text-center alert alert-success" %>
  <% end %>
<% end %>

<%= yield %>
<!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDE6F79FbnrSc9hZlurECTyBJoEyHCj-Nc"></script> -->

</body>
</html>
