<style>
  body {
    color: #ffffff;
    }

  input {
    color: #fff;
    border-radius: 5px;
    border: 0;
    height: 35px; 
    background-color: rgba(255, 102, 102, 0.9);
    margin: 2px;
    width: 140px;
    padding: 5px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    }

  input::-webkit-input-placeholder {
     color: white;
  }

  .my-button {
    margin-top: -2px;
    border-radius: 5px;
  }

  .my-button:hover {
    color: white;
  }
  
  a {
    color: rgba(255, 102, 102, 0.9);
  }
  
  a:hover {
    color: rgba(255, 102, 102, 0.9);
    background-color: rgba(255, 102, 102, 0.2);
    padding: 3px;
    text-decoration: none;
  }

  .simple_form div.input {
  display: inline-block;
  margin-left: 0px;
  }

  .simple_form div.button {
  display: inline-block;
  margin-left: 0px;
  }
</style>

<%= javascript_include_tag "bgcycle", "data-turbolinks-track" => true %>

        <script type="text/javascript">
            $(document).ready(function() {
                $("body").backgroundCycle({
                    imageUrls: [
                        'assets/bg5_low.jpg',
                        'assets/bg2.jpg',
                        'assets/bg3.jpg',
                        'assets/bg4.jpg',
                        'assets/bg1.jpg'
                    ],
                    fadeSpeed: 1000,
                    duration: 5000,
                    backgroundSize: SCALING_MODE_COVER
                });
            });
        </script>

<div class="container-fluid">

<div class="row">
  <div class="col-md-12">
    <ol style="visibility:hidden;">
      <li>&nbsp;</li>
      <li>&nbsp;</li>
      <li>&nbsp;</li>
      <li>&nbsp;</li>
      <li>&nbsp;</li>
      <li>&nbsp;</li>
      <li>&nbsp;</li>
      <li>&nbsp;</li>
      <li>&nbsp;</li>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= image_tag("header.png", size: "650x75") %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ol style="visibility:hidden;">
      <li>&nbsp;</li>
      <li>&nbsp;</li>
      <li>&nbsp;</li>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= simple_form_for(@user, url: signup_path) do |f|%>
    <%= f.input(:username, autofocus: true, placeholder: 'Username', label: false) %>
    <%= f.input(:password, placeholder: 'Password', label: false) %>
    <%= f.button(:submit, "Sign Up", class: "my-button") %>
  <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ol style="visibility:hidden;">
      <li>&nbsp;</li>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= link_to "Already have an account? Log in here.", login_path %>
  </div>
</div>

</div>
